<%= turbo_stream.prepend "comments", partial: "comments/comment", locals: { comment: @comment } %>
<%= turbo_stream.replace "new_comment", partial: "comments/form", locals: { article: @article, comment: Comment.new } %>

<%= turbo_stream.update "comments_header" do %>
  댓글 (<%= @article.comments.count %>)
<% end %>

<%= turbo_stream.update "comment_form" do %>
  <%= form_with model: [@article, Comment.new], local: true, class: "space-y-4" do |form| %>
    <div>
      <%= form.text_area :body,
          placeholder: "댓글을 작성해주세요...",
          rows: 3,
          class: "w-full p-3 bg-gray-600 border border-gray-500 rounded-lg text-white placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent resize-none" %>
    </div>
    <div class="flex justify-end">
      <%= form.submit "댓글 작성",
          class: "px-4 py-2 text-sm font-medium text-white bg-blue-600 rounded-lg hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 transition-colors" %>
    </div>
  <% end %>
<% end %>
