<% content_for :title, "Articles" %>

<% @articles.each do |article| %>
  <div id="<%= dom_id article %>" class="bg-white rounded-xl shadow-sm hover:shadow-md transition-shadow overflow-hidden flex flex-col border border-gray-100">
    <div class="p-6 flex flex-col flex-grow">
      <div class="mb-2">
        <h2 class="text-xl font-bold text-gray-800 inline"<%= link_to article.title || article.title_ko, article %></h2>
        <%= link_to article.url, article.url, target: "_blank", class: "block md:inline ml-0 md:ml-2 text-sm text-primary-600 hover:text-primary-700 hover:underline truncate" %>
      </div>
      <p class="text-gray-600 mb-4 line-clamp-3">
        <% if article.summary_key.is_a?(Array) %>
        <ul>
            <% article.summary_key&.each do %>
                <li><%= it %></li>
            <% end %>
        </ul>
        <% end %>
      </p>
      <div class="mt-auto pt-4 flex justify-between text-sm text-gray-500 border-t border-gray-100">
          <span>작성자: ${article.author}</span>
          <span><%= article.created_at.strftime("%Y-%m-%d %H:%M") %></span>
      </div>
    </div>
  </div>
<% end %>
