<% content_for :title, "알 || AL 뉴스" %>

<div class="flex flex-col md:flex-row justify-between items-start md:items-center gap-4 mb-8">
  <div class="w-full md:w-auto flex-grow">
  </div>
</div>

<div id="articlesList" class="space-y-6">
  <% @articles.each do |article| %>
    <div id="<%= dom_id article %>" class="bg-white rounded-lg shadow-sm hover:shadow-md transition-shadow overflow-hidden border border-gray-200 p-6">
      <div class="mb-2">
        <h2 class="text-2xl font-semibold text-gray-800 mt-1 mb-1"><%= link_to article.title_ko || article.title, article_path(article.slug) %></h2>
        <%= link_to article.url, article.url, target: "_blank", class: "block md:inline ml-0 md:ml-2 text-sm text-primary-600 hover:text-primary-700 hover:underline" %>
      </div>
      <div class="text-gray-600 mb-4">
        <% if article.summary_key.is_a?(Array) %>
        <ul class="list-none pl-2 space-y-1">
            <% article.summary_key&.each do |item| %>
                <li class="text-gray-600"><%= item %></li>
            <% end %>
        </ul>
        <% end %>
      </div>
      <div class="mt-auto pt-4 flex justify-between text-sm text-gray-500 border-t border-gray-100">
          <span>작성자: <%= article.user&.name %></span>
          <span><%= article.published_at&.strftime("%Y-%m-%d") %></span>
      </div>
    </div>
  <% end %>
  <div class="flex justify-center mt-8">
    <%== pagy_nav(@pagy) %>
  </div>
</div>
