<!DOCTYPE html>
<html>
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-56PSNXG7QG"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-56PSNXG7QG');
    </script>
    <title><%= content_for(:title) || "Al News" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-50 text-gray-800 min-h-screen flex flex-col">
    <header class="bg-white shadow-sm sticky top-0 z-10">
        <nav class="container mx-auto px-4 py-4 flex justify-between items-center">
            <%= link_to "알 || AL 뉴스", root_path, class: "text-2xl font-bold text-primary-700" %>
            <div class="flex gap-6">
                <%= link_to "홈", root_path, class: "font-medium text-gray-700 hover:text-primary-600 transition-colors" %>
                <%= link_to "로그인", new_session_path, id: "loginLink", class: "font-medium text-gray-700 hover:text-primary-600 transition-colors" %>
            </div>
        </nav>
    </header>

    <main class="container mx-auto px-4 py-8 flex-grow">
        <%= yield %>
    </main>

    <footer class="bg-gray-100 py-6 mt-auto">
        <div class="container mx-auto px-4 text-center text-gray-600">
            <p></p>
        </div>
    </footer>
  </body>
</html>
